@import 'fonts.css';

/* Modular Styles */

:root {
  /* Colors */
  --primary: #26ccff;
	--secondary: #ccc;
	--neutral: white;
  --strong: #094666;
  --danger: #ea4242;
  --disabled: #d6d5d5;
  --dark: #333;
  --body-background: #eee;
	--navbar-background: var(--neutral);
  --border-color: lightgray;
  --small-text-color: lightslategray;
  --semi-rounded-corner: .5rem;
  --card-shadow: 0px 0px 16px rgba(0,0,0,.1);
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

button.button[disabled] {
  cursor: not-allowed;
  filter: none;
}

.button {
  align-items: center;
	border-radius: var(--semi-rounded-corner);
	cursor: pointer;
  display: flex;  
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
	padding: 6px 12px;
  transition: background-color .15s, border .15s;
  text-align: center;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all .15s;
  user-select: none;
}

.button :first-child:not(img) {
  margin-right: .5em;
}

.button :last-child:not(img) {
  margin-left: .5em;
}

.button.outlined {
	border: 2px solid var(--dark);	
  background-color: transparent;
}

.button.outlined.dark {
	border-color: var(--dark);
}

.button.outlined.primary {
  border-color: var(--primary);
  color: var(--primary);
}

.button.outlined.secondary {
  border-color: var(--secondary);
  color: var(--secondary);
}

.button.filled {
	background-color: var(--dark);
  border: 2px solid transparent;	
  color: var(--neutral);
}

.button.filled.dark {
  background-color: var(--dark);
  color: var(--dark);
}

.button.filled.primary {
  background-color: var(--primary);
  color: var(--neutral);
}

.button.filled.danger {
  background-color: var(--danger);
}

.button[disabled = disabled] {
  filter: grayscale();
  opacity: .65;
}

a {
  color: var(--dark);
  text-decoration: none !important;
}

a:hover {
  color: var(--dark);
  opacity: .8;
}

a.button.filled {
	color: var(--navbar-background);
}

a.button.outlined {
	color: var(--dark);
}

.action.button {
	background-color: var(--primary);
	color: var(--neutral);
}

.link {
	color: var(--primary);
	cursor: pointer;
}

.link:hover {
	opacity: .8;
}

.text-icon {
  height: 1.4em;
}

input {
  font-family: 'Quicksand', sans-serif;
}

/* Alerts */

.alert {
  padding-right: 2em;
  position: relative;
  width: 100%;
}

.alert-dismissible .close {
  position: absolute;
  top: -1px;
  right: -.1em;
}

/* Loading animation */
.spinner {
  /* margin: 100px auto 0; */
  text-align: center;
  --spinner-ball-size: 8px;
  --spinner-ball-color: white;
}

.spinner > div {
  width: var(--spinner-ball-size);
  height: var(--spinner-ball-size);
  background-color: var(--spinner-ball-color);
  vertical-align: middle;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Body */
html {
  min-height: 100vh; 
  font-size: 14px;
  position: relative;
}

#app {
  padding-bottom: 4em; /* footer height */
}

body {
	background-color: var(--body-background);
	font-family: 'Quicksand', sans-serif;
}

.container, .container-fluid .row {
  max-width: 1080px;
  width: 100%;
}

.container-fluid .row {
  margin: 0 auto;
}

.page-content {
	padding-top: 5em;
}

/* Body */
/* Content Card */
.content-card {
  background-color: var(--neutral);
  padding: 1em;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  
  #app {
    padding-bottom: 3em;
  }
}

@media (pointer: fine) {
  .button:hover {
    opacity: .8;
  }
}
