@import 'fonts.css';

/* Modular Styles */

:root {
  /* Colors */
  --primary: #26ccff;
	--secondary: #777;
	--neutral: white;
  --strong: #094666;
  --danger: #ea4242;
  --disabled: #d6d5d5;
  --dark: #333;
  --body-background: #eee;
	--navbar-background: var(--neutral);
  --border-color: lightgray;
  --small-text-color: lightslategray;

  /* Misc. */
  --semi-rounded-corner: .4rem;
  --card-shadow: 0px 4px 16px rgba(0,0,0,.1);
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

button.button[disabled] {
  cursor: not-allowed;
  filter: none;
}

.button {
	border-radius: var(--semi-rounded-corner);
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
	padding: 6px 12px;
  transition: background-color .15s, border .15s;
  text-align: center;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all .15s;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.button span {
  vertical-align: middle;
}

.button img {
  height: 1.5em;
  pointer-events: none;
}

.icon.prev {
  margin-right: .375em;
}

.icon.post {
  margin-left: .375em;
}

.message-button {
  display: inline-block;
  margin-left: .5em;
}

.button.outlined {
	border: 1px solid var(--dark);	
  background-color: transparent;
}

.button.outlined.dark {
	border-color: var(--dark);
}

.button.outlined.primary {
  border-color: var(--primary);
  color: var(--primary);
}

.button.outlined.secondary {
  border-color: var(--secondary);
  color: var(--secondary);
}

.button.secondary img {
  opacity: .7;
}

.button.filled {
  border: 2px solid transparent;
}

.button.filled.dark {
  background-color: var(--dark);
  color: var(--neutral);
}

.button.filled.primary {
  background-color: var(--primary);
  color: var(--neutral);
}

.button.button.outlined.danger {
  border-color: var(--danger);
  color: var(--danger);
}

.button.filled.danger {
  background-color: var(--danger);
  color: var(--neutral);
}

.button[disabled = disabled] {
  filter: grayscale();
  opacity: .65;
}

a {
  color: var(--dark);
  text-decoration: none !important;
}

a:hover {
  color: var(--dark);
  opacity: .8;
}

a.button.filled {
	color: var(--navbar-background);
}

a.button.outlined {
	color: var(--dark);
}

.action.button {
	background-color: var(--primary);
	color: var(--neutral);
}

.link {
	color: var(--primary);
	cursor: pointer;
}

.link:hover {
	opacity: .8;
}

input, textarea {
  box-shadow: inset 0 0 4px rgba(0,0,0,.1);
}

input, textarea, select {
  font-family: 'Quicksand', sans-serif;
}

select::-ms-expand {
  display: none;
}

/* Alerts */

.message {
  margin-top: 1rem;
}

.alert {
  padding-right: 3rem;
  position: relative;
  width: 100%;
}

.alert-dismissible .close {
  height: 100%;
  line-height: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Body */
html {
  min-height: 100vh; 
  font-size: 14px;
  position: relative;
}

#app {
  padding-bottom: 4em; /* footer height */
}

body {
	background-color: var(--body-background);
	font-family: 'Quicksand', sans-serif;
}

.container, .container-fluid .row {
  max-width: 1080px;
  width: 100%;
}

.container-fluid .row {
  margin: 0 auto;
}

.page-content {
	padding-top: 5em;
}

/* Body */
/* Content Card */
.content-card {
  background-color: var(--neutral);
  padding: 1em;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  
  #app {
    padding-bottom: 3em;
  }
}

@media (pointer: fine) {
  .button:hover {
    opacity: .8;
  }
}
