/* Auth Card */

.auth.card {
	align-items: center;
	background-color: var(--neutral);
	border-radius: 1.2em;
	box-shadow: 0 0 1em rgba(0,0,0,.15);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 600px;
	padding: 1.4em 2em;
}

.auth.card .wrapper {
	display: flex;
	flex-direction: column;
	max-width: 420px;
	text-align: center;
	width: 100%;
}

.form-line {
	display: flex;
  justify-content: space-between;
	margin-bottom: .5em;
}

.form-line label {
	height: 1.5em;
	margin: auto;	
  margin-right: -1.9em;
	opacity: .7;
  position: relative;
	width: 1.2em;  
  z-index: 2;
}

.form-line label[for="signupUsername"] {
	font-size: 1.125em;
	margin-right: -1.8em;
}

.form-line input {
	border: 1px solid #afafaf;
	border-radius: var(--semi-rounded-corner);
	color: #4f4f4f;
	padding: .4em;
	width: 100%;
}

.form-line .input-group input {
  border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.form-line .input-group button {
	border: 1px solid #afafaf;
	border-bottom-right-radius: var(--semi-rounded-corner);
	border-top-right-radius: var(--semi-rounded-corner);
}

.auth.card .form-line.submit {
	justify-content: center;
}

label img {
	pointer-events: none;
	width: 1em;
}

.auth.card .form-line.submit .button {
	padding: 10px 40px;
}

.auth.card .input-group input {
	border-right: none;
}

.auth.card input {
  padding-left: 2.5em;
}

.show-password {
	background: url(/static/icons/eye.png) no-repeat center;
  background-color: transparent;
	background-size: 24px;
	border: 2px solid var(--primary);
	cursor: pointer;
  height: 100%;
	padding: 16px;
	width: 40px;
}

.show-password.show {
	background: url(/static/icons/eye-white.png) 
	no-repeat center;		
	background-color: var(--primary);
	background-size: 24px;
}

.fade-enter-active, .fade-leave-active {
  transition: all .25s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.4s;
  max-height: 400px;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
	opacity: 0;
	max-height: 220px;
}

@media (max-width: 767px) {	
	.auth.card {
		margin: 2em auto;
	}
}