:root {
	
}

body.home {
	background: linear-gradient(to bottom right, rgb(0, 98, 156), rgb(22, 222, 222));
}

.home .navbar-dark .navbar-nav a.button.filled {
	color: var(--secondary);
}

.home .navbar-dark .navbar-nav a {
	color: var(--neutral);
}

.home .navbar-dark .navbar-nav a.button.outlined {
	border: 2px solid var(--neutral);
}

.home .navbar-dark .navbar-nav .button.filled {
	background-color: white;
}

/* NavBar */
.home nav {
	background-color: #016CA1;
	transition: .35s background-color;
}

.home .navbar.open {
	background-color: #016CA1;
}

.home .navbar-collapse .navbar-nav input::placeholder {
	color: white;
}

.home .brand-logo {
	background: url("../assets/devio-mono.png") no-repeat center;
	background-size: contain;
}

.home .navbar-dark .navbar-brand {
	color: white;
}

.home nav {
	background-color: transparent;
}

.home nav.shady {
	background-color: #016CA1;
}

.home .menu-button {
	background: url("../assets/icons/menu-button-white.png") no-repeat center;
	background-size: contain;	
}

.home .search-button div {
	background: url("../assets/icons/magnifying-glass-white.png") no-repeat center;
	background-size: contain;
}

/* Content */
.home .welcome-text {
	color: var(--neutral);	
}

.home .illustration {
	background: url("../assets/illustration.svg") no-repeat center;
	background-size: contain;
	height: 250px;
}

/* Mobile styles */

@media (max-width: 767px) {	
	.welcome-text {
		text-align: center;
	}
	
	.home .auth.card {
		margin: 2em 0;
	}
}