body.home .landing-section {
	background: linear-gradient(to bottom right, rgb(0, 98, 156), rgb(22, 222, 222));
}

.home .navbar-nav a, 
.home .navbar-nav a:hover {
	color: var(--neutral);
}

.home .navbar-nav .button.outlined {
	border: 2px solid var(--neutral);
}

.home .navbar-nav .button.filled {
	background-color: white;
}

.home .navbar-nav .button.filled {
	color: var(--secondary);
}

/* NavBar */
.home nav {
	background-color: transparent;
}

.home nav.shady {
	background-color: var(--strong);
}

.home .navbar.open {
	background-color: var(--strong);
}

.home .navbar-collapse .navbar-nav input::placeholder {
	color: white;
}

.home .brand-logo {
	background: url("/static/devio-mono.png") no-repeat center;
	background-size: contain;
}

.home .navbar-brand, .home .navbar-brand:hover, .home .navbar-brand:active {
	color: white;
}

.home .menu-button {
	background: url("/static/icons/menu-button-white.png") no-repeat center;
	background-size: contain;	
}

.home .searchbar {
  border-color: white;
}

.home .searchbar, .home .searchbar::placeholder, .home .searchbar:active {
  color: var(--neutral);
}

.home .search-button div {
	background: url("/static/icons/magnifying-glass-white.png") no-repeat center;
	background-size: contain;
}

/* Content */
.welcome-text {
	color: var(--neutral);	
}

.landing-section .illustration {
	background: url("/static/illustration.svg") no-repeat center;
	background-size: contain;
	height: 250px;
}

section.secondary {
  background-color: #eee;
  padding-top: 2em;
  text-align: center;
}

.section-title {
  padding: 0 .5em;
}

.content-card {
  border-radius: var(--semi-rounded-corner);
  padding-left: 0;
  padding-right: 0;
}

/* Popular Section */
.popular {
  margin-bottom: 1em;
}

.popular.techs > div:not(:last-child) {
  margin-right: 1em;
}

.home .footer {
  background-color: var(--strong) !important;
  color: var(--neutral) !important;
}

.home .footer a {
  color: var(--neutral) !important;
}

/* Swiper */
.swiper-container {
  padding-bottom: 3em;
}

.swiper-slide, .swiper-slide > div {
  height: auto;  
}

.techs .swiper-slide {
  max-width: 10em;
}

.techs .swiper-slide > div {
  min-height: 140px;
}

.posts .swiper-slide {
  max-width: 450px;
  min-width: 300px;
}

.home .post-card:not(:last-child), .home .user-card:not(:last-child) {
  margin-right: 1em;
}

.users .swiper-slide {
  max-width: 360px;
  min-width: 300px;
}

.swiper-scrollbar-drag, .swiper-pagination-bullet-active {
  background-color: var(--primary);
}

/* Add padding to the swiper edges */
  .swiper-section {
    margin-left: 15%;
    width: 70%;    
  }
  
  .swiper-container {
    overflow: visible;
  }
  
  .content-card {
    overflow: hidden;
  }

/* Mobile styles */

@media (max-width: 767px) {	
	.welcome-text {
		text-align: center;
	}
	
	.home .auth.card {
		margin-bottom: 2em;
  }
  
  .users .user-card {
    max-width: 90%;
  }
    
  .home .post-card {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Desktop styles */

@media (min-width: 768px) {
  .home .illustration {
    margin-bottom: 3em;
  }
}

@media (min-width: 768px) and (max-height: 800px) {
  .landing-section {
    min-height: 100vh;
  }
}
