/* NavBar */

nav {
	background-color: var(--navbar-background);
  font-size: .85em;
	transition: .35s background-color;
}

nav.shady {
	background-color: var(--navbar-background);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}

nav.open {
	background-color: var(--navbar-background);
}

nav .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.navbar-brand {
	align-items: center;
	display: flex;	
  margin-left: 0 !important;
}

.navbar .nav-items a {
  align-items: center;
	color: var(--dark);
	display: flex;
	font-family: 'Quicksand', sans-serif;
	height: 100%;
	padding: .2em 0;
	text-decoration: none;
}

.navbar-dark .navbar-brand, 
.navbar-dark .navbar-brand:hover, 
.navbar-dark .navbar-brand:focus {
	color: var(--dark);
}

.brand-logo {
	background: url("/static/devio-color.png") no-repeat center;
	background-size: contain;
	height: 32px;
	margin-right: 8px;
	width: 32px;
}

button.navbar-toggler {
  border: none;
	cursor: pointer;
	padding: 8px;
}

.menu-button {
	background: url("/static/icons/menu-button-black.png") no-repeat center;
	background-size: contain;	
	height: 24px;
	width: 24px;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.nav-items {
	align-items: center;
	display: flex;
  font-weight: bold;
}

.nav-items button.navbar-toggler {
  border: 0;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
}

button.nav-item {
	color: var(--dark);
	font-weight: bold;
}

.nav-item:not(:first-child) {
	margin-left: 1em;
}

.nav-link, 
.nav-link.active,
.nav-link:hover {
	color: var(--dark);
}

/* Searchbox */

.searchbar {
	background-color: rgba(0,0,0,0);
	border-radius: var(--semi-rounded-corner);
	border-width: 1px;
	color: var(--dark);
	max-width: 16rem;
	padding: .375em .5em;
}

.searchbar::placeholder {
	color: var(--secondary);
	opacity: .8;
  padding-right: 3.5em;
}

.searchbar:focus {
	background-color: rgba(0,0,0,0.05);
  color: var(--dark);
}

.search-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-left: -3em;
  z-index: 999;
}

.search-button:hover, .search-button:focus, .search-button:active  {
	background-color: transparent;
	box-shadow: none;
  outline: none;
}

.search-button div {
	background: url(/static/icons/magnifying-glass.png) no-repeat center;
	background-size: contain;
	height: 12px;
	width: 12px;
}

/* Profile links dropdown */
/* Dropdown Button */
#nav-avatar {
	border-radius: 4em;
	height: 40px;
  padding: 0;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	background-color: #f9f9f9;
	border: 1px solid lightgray;
	border-radius: var(--semi-rounded-corner);
	box-shadow: 0 0 8px rgba(0,0,0,.2);
	display: none;
	left: auto;
	margin-top: 2px;
	min-width: 120px;
  overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown.nav-item .dropdown-content a,
.dropdown.nav-item .dropdown-content a:hover,
.dropdown.nav-item .dropdown-content a.active {
	color: var(--dark);
	padding: 8px 0;
	text-decoration: none;
	display: block;
}

.dropdown.nav-item .dropdown-content button {
	color: var(--dark);
	font-weight: bold;
	padding: 8px 0;
	width: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content button:hover {
	background-color: #f1f1f1
}

.dropdown-content.show {display:block;}

/* Mobile */

@media (max-width: 767px) {	
	nav {
		font-size: 14px;
	}

	nav .container {
		align-items: stretch;
		display: flex;
		flex-direction: column;
	}

	#menuButton {
		position: absolute;
		right: 0;
	}
	
	.navbar-collapse.show {		
		min-height: 100vh;
	}
	
	.navbar-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
    transform: translateZ(0);
	}
  
  .navbar-nav form {
    margin: 0 auto 1em auto;    
    width: 70%;
  }
  
  .navbar-nav input.searchbar {
    height: 3em;
    width: 100%;
    max-width: 100%;
  }
	
	.nav-items {
		align-items: stretch;
		flex-direction: column;
	}

	.nav-items .navbar-toggler {
	  align-self: center;
	}
	
	.navbar-nav {
		margin-top: 1em;
	}
	
	.nav-items .nav-item {
		margin: 0 auto 1em auto;
	}
}

@media (max-width: 575px) {
	nav .container {
		margin: 0;
	}
}