.user-card {
  background-color: var(--neutral);
  border-radius: var(--semi-rounded-corner);
  box-shadow: var(--card-shadow);
  font-size: .85em;
  padding: .75rem .5rem;
  text-align: left;
}

.user-data {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.first-row {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.user {
  display: flex;
}

.avatar {  
  height: 4em;
  margin-right: .75em;
  margin-bottom: .5em;
  width: 4rem;
  
  border-radius: 100%;
  margin-bottom: .25rem;
  width: 3rem;  
}

.names {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.public-name {
  margin-bottom: 0;  
}

.username {  
  color: var(--small-text-color);
  margin: 0;
}

.bio {
  font-size: .9em;
  margin-bottom: .5em;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: .5em;
  text-align: center;
  width: 100%;
}

.stats .label {
  color: var(--small-text-color);
}

.stats .number {
  font-weight: bold;
  margin-bottom: 0;
}

/* Badge Group */
.badge-group {
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: var(--semi-rounded-corner);
  display: flex;    
}

.badge-group.techs {
  flex-wrap: wrap;
  padding: 0;
}

.badge-group .badge {
  border-radius: 0;
  display: block;
  margin: .5em;
  padding: 0;   
}

.badge-group .badge:not(:last-child) {
  margin-right: 0; 
}

.badge-group img {
  height: 1.5rem;
}

.last-row {
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
  width: 100%;
}

.website {
  align-items: center;
  color: var(--dark);
  display: flex;
}

.website img {
  height: 1em;
  margin-left: .5em;
}

@media (max-width: 767px) {
  .bio {
    font-size: 1em;
  }
  
  .user-card {
    margin: 0 auto;
  }
}
